#blue-button {
    width: 100px;
    height: 2rem;
    text-align: center;
    background: rgb(147,129,244);
    background: linear-gradient(90deg, #9381f4 0%, #ac9ff3 50%, rgba(119,100,221,1) 100%);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    user-select: none;
}

#blue-button:hover {
    background: #00ff9a;
    background: linear-gradient(90deg, rgba(147,129,244,1) 0%, rgba(172,159,243,1) 50%, rgba(119,100,221,1) 100%);
}

#blue-button:active {
    background: rgb(147,129,244);
    background: linear-gradient(90deg, rgba(147,129,244,1) 0%, rgba(172,159,243,1) 50%, rgba(119,100,221,1) 100%);
}